# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# Pytest
.pytest_cache/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
